@model SolicitudReconocimientos.Models.Reconocimientos

@{

    ViewBag.Title = "Atender";

    Layout = "~/Views/Shared/_Masteradmin.cshtml";
    IEnumerable<SolicitudReconocimientos.Models.Reconocimientos> t = ViewBag.total;
    IEnumerable<SolicitudReconocimientos.Models.Reconocimientos> solicitudes = ViewBag.lista;
}

@*<h2>Edit</h2>*@

<div class="row">
    <div class="col-md-12">
        <div class="well">

            @using (Html.BeginForm("SubirArchivos", "Reconocimientos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "r-form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                //Identificador,IdUsuario,Nombre,IdTipoDocumento,Motivo,FechaEvento,FechaRegistro,Autorizado,Archivo,AcuseEntrega"

                <fieldset>
                    <legend class="text-center header">Actualizar archivos</legend>
                    <div class="form-group hidden">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="Identificador" name="Identificador" type="text" placeholder="id usuario" value="@Model.Identificador" class="form-control">
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="IdUsuario" name="IdUsuario" type="text" placeholder="id usuario" value="@Model.IdUsuario" class="form-control">
                        </div>
                    </div>
                    <div class="form-group ">
                        <span class="col-md-1 col-md-offset-2 text-center" title="Folio"><i class="fa fa-key bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="Folio" title="Folio" name="Folio" readonly="readonly" contenteditable="false" type="text" placeholder="id usu" value="@Model.Folio" class="form-control">
                        </div>
                    </div>

                    <div class="form-group ">
                        <span class="col-md-1 col-md-offset-2 text-center" title="Libro"><i class="fa fa-book bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="Libro" title="Libro" name="Libro" contenteditable="false" readonly="readonly" type="text" placeholder="id usuario" value="@Model.Libro" class="form-control">
                        </div>
                    </div>
                    <div class="form-group ">
                        <span class="col-md-1  col-md-offset-2 text-center" title="Foja"><i class="fa fa-book bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="Foja" name="Foja" contenteditable="false" readonly="readonly" type="text" placeholder="id usuario" value="@Model.Foja" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <span title="Seleccione un tipo de documento" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file bigicon"></i></span>
                        <div class="col-md-8">

                            <select readonly="readonly" id="IdQuien" name="IdQuien" class="form-control">
                                <option value="@Model.Quien.IdQuien">@Model.Quien.Nombre</option>
                            </select>



                        </div>
                    </div>

                    <div class="form-group">
                        <span title="Nombre completo" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input required id="Nombre" name="Nombre" contenteditable="false" readonly="readonly" type="text" value="@Model.Nombre" placeholder="Nombre completo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <span title="Seleccione un tipo de documento" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file bigicon"></i></span>
                        <div class="col-md-8">

                            <select readonly="readonly" id="IdTipoDocumento" name="IdTipoDocumento" class="form-control">
                                <option value="@Model.TipoDocumento.Identificador">@Model.TipoDocumento.Nombre</option>
                            </select>



                        </div>
                    </div>
                    <div class="form-group">
                        <span title="Motivo" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                        <div class="col-md-8">
                            <textarea class="form-control" readonly="readonly" id="Motivo" name="Motivo" placeholder="Ingrese el motivo de la solicitud" value="@Model.Motivo" rows="7">@Model.Motivo</textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <span title="Fecha del evento realizado" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="FechaEvento" name="FechaEvento" readonly="readonly" value="@Model.FechaEvento" type="text" placeholder="Fecha del evento" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <span title="Fecha de solicitud" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="FechaRegistro" name="FechaRegistro" readonly="readonly" type="text" placeholder="Fecha del evento" value="@Model.FechaRegistro" class="form-control">
                        </div>
                    </div>




                    <div class="form-group">
                        <span title="Estuatus" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-info-circle fa-2x"></i></span>
                        <div class="col-md-8">

                            <input type="text" value="@Model.Autorizado" class="form-control" name="Autorizado" readonly="readonly" />



                        </div>
                    </div>

                    <div class="form-group">

                        <span title="Observaciones" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i> </span>
                        <div class="col-md-8">
                            <textarea class="form-control" readonly="readonly" id="Comentario" name="Comentario" placeholder="Observaciones de la solicitud" value="@Model.Comentario" rows="7">@Model.Comentario</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <span title="Seleccione un tipo de documento" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file bigicon"></i></span>
                        <div class="col-md-8">

                            <select readonly="readonly" id="IdFirma" name="IdFirma" class="form-control">
                                <option value="@Model.Firma.IdFirma">@Model.Firma.Nombre</option>
                            </select>

                        </div>
                    </div>


                    @*<div class="form-group">
            <span title="Reconocimiento Digital" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
            <div class="col-md-8">
                <input id="Archivo" name="Archivo" type="file" placeholder="Seleccione el archivo" value="@Model.Archivo" class="form-control">
            </div>
            <span>@Model.Archivo</span>
        </div>
        <div class="form-group">
            <span title="Acuse de entrega" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
            <div class="col-md-8">
                <input id="AcuseEntrega" name="AcuseEntrega" type="file" placeholder="Fecha del evento" value="@Model.AcuseEntrega" class="form-control">
            </div>
            <span>@Model.AcuseEntrega</span>
        </div>*@

                    <div class="form-group">
                        @if (Model.Archivo != null && Model.Archivo != " " && Model.Archivo == Model.Archivo)
                        {
                            <span title="@Model.TipoDocumento.Nombre Digital" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
                            <div class="col-md-8">

                                <span class="fa fa-check-circle fa-2x" title="El @Model.TipoDocumento.Nombre Digital ya esta disponible" style="color:green;"></span>
                                <a title="Reconocimiento en PDF" href="~/Archivos/@Model.Archivo" target="_blank">Consultar</a>
                                @*<input id="AcuseEntrega" disabled="disabled" readonly="readonly" value="@Model.AcuseEntrega" name="AcuseEntrega" type="file" placeholder="Fecha del evento" value="@Model.AcuseEntrega" class="form-control">*@
                            </div>

                        }
                        else
                        {
                            <span title="Reconocimiento Digital" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="Archivo" name="Archivo" type="file" placeholder="Seleccione el archivo" value="@Model.Archivo" class="form-control">
                            </div>
                        }
                        @*<span title="Reconocimiento Digital" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
            <div class="col-md-8">
                <input id="Archivo" disabled="disabled" readonly="readonly" value="@Model.Archivo" name="Archivo" type="file" placeholder="Seleccione el archivo" value="@Model.Archivo" class="form-control">
            </div>*@
                    </div>
                    <div class="form-group">
                        @if (Model.AcuseEntrega != null && Model.AcuseEntrega != " " && Model.AcuseEntrega == Model.AcuseEntrega)
                        {
                            <span title="Acuse de entrega" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
                            <div class="col-md-8">

                                <span class="fa fa-check-circle fa-2x" title="El acuse ya esta disponible" style="color:green;"></span>
                                <a title="Acuse de entrega" href="~/Acuses/@Model.AcuseEntrega" target="_blank">Consultar</a>
                                @*<input id="AcuseEntrega" disabled="disabled" readonly="readonly" value="@Model.AcuseEntrega" name="AcuseEntrega" type="file" placeholder="Fecha del evento"class="form-control">*@
                            </div>

                        }
                        else
                        {
                            <span title="Acuse de entrega" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="AcuseEntrega" name="AcuseEntrega" type="file" placeholder="Fecha del evento" value="@Model.AcuseEntrega" class="form-control">

                            </div>
                        }

                        @*<span title="Acuse de entrega" class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-pdf-o bigicon"></i></span>
            <div class="col-md-8">
                <input id="AcuseEntrega" disabled="disabled" readonly="readonly" value="@Model.AcuseEntrega" name="AcuseEntrega" type="file" placeholder="Fecha del evento" value="@Model.AcuseEntrega" class="form-control">
            </div>*@
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <br />
                            <button type="submit" class="btn btn-success btn-large">Guardar</button>
                        </div>
                    </div>
                </fieldset>



            }

            <form class="form-horizontal" method="post"></form>
        </div>
    </div>
</div>




<div>
    @Html.ActionLink("Regresar", "Index", new { }, new { @class="btn btn-warning btn-large"})
</div>

