@model IEnumerable<Rec.Models.Firma>

@{
    ViewBag.Title = "Firmas";
    Layout = "~/Views/Shared/_Masteradmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFirma }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFirma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFirma })
        </td>
    </tr>
}

</table>
